block variables
    - var title = 'Футбол'
    - var grapg = 'График'
    - var filter = 'Фильтр'
    - var sort= 'Сортировка'
    
    -
        var dictMenu = { 
            'Главная': 'index.html',
            'Таблица': "table.html",  
            'Меню 3': "#",
        }
    //-
        список файлов с рисунками для раздела сайта images
    - 
        var listImages = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg']
    - 
        var listImagesAPL = ['image1.jpg']
    - 
        var TextFooter = ['Щеглов Е.А., группа 1, 2024-2025']
    //-
        словарь для карточек (раздел section): заголовок, рисунок, текст
    - 
        var listSections = [
            {
                'header': 'Национальные чемпионаты',
                'text': '1. Европейские лиги: Английская Премьер-лига (Англия), Ла Лига (Испания), Бундеслига (Германия), Серия А (Италия), Лига 1 (Франция)\n2. Другие лиги: MLS (Северная Америка), Brasileirão (Бразилия), Аргентинская Примера (Аргентина), J1 Лига (Япония)'
                
            },
            {
                'header': 'Клубные турниры',
                'text': '1. Европейские турниры: Лига чемпионов УЕФА, Лига Европы УЕФА, Суперкубок УЕФА\n2. Континентальные турниры: Кубок Либертадорес (Южная Америка), Африканская Лига чемпионов.'
            },
            {
                'header': 'Национальные сборные турниры',
                'text': '1. Чемпионат мира (ФИФА)\n2. Чемпионат Европы (УЕФА)\n3. Кубок Америки (КОНМЕБОЛ)\n4. Кубок Африки (КАФ)\n5. Кубок Азии (АФК)'

            },
            {
                'header': 'Известные футбольные награды',
                'text': '1. Золотой мяч\n2. Игрок года по версии ФИФА\n3. Золотая бутса\n4. Приз Яшина\n5. Награда Golden Boy'
            }
        ]


    -
        var listSectionsAPL = [
            {
                'header': 'Чемпионат Англии',
                'text': 'Чемпионат Англии по футболу, известный как Премьер-лига (Premier League), является высшей лигой английского футбольного футбольного дивизиона. Он был основан в 1992 году, когда клубы высшей лиги покинули Футбольную лигу, чтобы создать отдельный турнир.\nОсновные аспекты Премьер-лиги:\n1. Структура:Премьер-лига состоит из 20 клубов, которые соревнуются друг с другом в формате «каждый с каждым» в два круга (дома и в гостях).\nСезон обычно начинается в августе и заканчивается в мае следующего года.\n2. Очки:\nКоманды получают 3 очка за победу, 1 очко за ничью и 0 очков за поражение.\nВ конце сезона три команды с наименьшим количеством очков выбывают в Чемпионшип (вторую по силе лигу), а три лучшие команды из Чемпионшипа поднимаются в Премьер-лигу.\n3. Популярность:\nПремьер-лига является одной из самых популярных и конкурентоспособных футбольных лиг в мире. Она привлекает зрителей и зрителей как в Англии, так и за её пределами.\nВ турнире выступают множество известных клубов, таких как «Манчестер Юнайтед», «Ливерпуль», «Челси», «Арсенал», «Манчестер Сити», «Тоттенхэм Хотспур» и другие.\n4. Телевизионные права и финансы:\nПремьер-лига пользуется значительными доходами от телевизионных прав, которые позволяют клубам привлекать лучших игроков и тренеров.\nКоманды также участвуют в международных турнирах, таких как Лига чемпионов УЕФА и Лига Европы, что добавляет конкуренции и увеличивает финансовые потоки.\n5. Знаменитые игроки и тренеры:\nВ Премьер-лиге играли многие из величайших футболистов мира, включая Тьерри Анри, Дэвида Бекхэма, Криштиану Роналду, а также таких тренеров, как Алекс Фергюсон, Арсен Венгер, Пеп Гвардиола и Юрген Клопп.\nПремьер-лига является не только футбольным соревнованием, но и важной частью культурной жизни Англии и всего мира.'
            }
        ]

    -
        var yesno = ['Первый уровень', 'Второй уровень']

    - 
        var Sorted = [
            {
                'lv': 'Первый уровень',
                'gamer':'Игрок',
                'year':'Возраст',
                'country':'Страна',
                'club':'Клуб',
                'money':'Стоимость',
                'posichion':'Игровая позиция'
            },
            {
                'lv': 'Второй уровень',
                'gamer':'Игрок',
                'year':'Возраст',
                'country':'Страна',
                'club':'Клуб',
                'money':'Стоимость',
                'posichion':'Игровая позиция'
            }
        ]
    -
        var Name = ['Игрок', 'Возраст от','Название страны', 'Клуб', 'Стоимость от', 'Игровая позиция']

        var N1 = [
            {
                'first' : 'Значение по оси Ox',
                'second' : 'Результат'
            },
        ]

    - 
        var N = [
            {
                'first' : 'Возраст ',
                'second' : 'Макс. стоимость',
                'numb' : '1'
            },
            {
                'first' : 'Страна ',
                'second' : 'Мин. стоимость',
                'numb' : '2'
            },
            {
                'first' : 'Клуб',
                'second' : 'Кол-во игроков',
                'numb' : '3'
            }
        ]


    -
        var listname = ['Игрок', 'Возраст', 'Страна', 'Клуб', 'Стоимость в млн. евро', 'Игровая позиция']

    - 
        var listSectionsTable = [
             {
                'gamer': 'Эрлинг Холанд',
                'year': '24',
                'country': 'Норвегия',
                'club': 'Манчестер Сити',
                'money': '200',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Джуд Белингем',
                'year': '21',
                'country': 'Англия',
                'club': 'Реал Мадрид',
                'money': '180',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Винисиус Джуниор',
                'year': '24',
                'country': 'Бразилия',
                'club': 'Реал Мадрид',
                'money': '180',
                'posichion': 'Левый вингер'
            },
            {
                'gamer': 'Килиан Мбаппе',
                'year': '25',
                'country': 'Франция',
                'club': 'Реал Мадрид',
                'money': '180',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Фил Фоден',
                'year': '24',
                'country': 'Англия',
                'club': 'Манчестер Сити',
                'money': '150',
                'posichion': 'Правый вингер'
            },
            {
                'gamer': 'Букайо Сака',
                'year': '23',
                'country': 'Англия',
                'club': 'Арсенал',
                'money': '140',
                'posichion': 'Правый вингер'
            },
            {
                'gamer': 'Флориан Виртц',
                'year': '21',
                'country': 'Германия',
                'club': 'Байер 04',
                'money': '130',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Джамал Мусиала',
                'year': '21',
                'country': 'Германия',
                'club': 'Бавария',
                'money': '130',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Родри',
                'year': '28',
                'country': 'Испания',
                'club': 'Манчестер Сити',
                'money': '130',
                'posichion': 'Опорный полузащитник'
            },
            {
                'gamer': 'Ламин Ямаль',
                'year': '17',
                'country': 'Испания',
                'club': 'Барселона',
                'money': '120',
                'posichion': 'Правый вингер'
            },
            {
                'gamer': 'Федрико Валверде',
                'year': '26',
                'country': 'Уругвай',
                'club': 'Реал Мадрид',
                'money': '120',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Деклан Райс',
                'year': '25',
                'country': 'Англия',
                'club': 'Арсенал',
                'money': '120',
                'posichion': 'Опорный полузащитник'
            },
            {
                'gamer': 'Родриго',
                'year': '23',
                'country': 'Бавария',
                'club': 'Реал Мадрид',
                'money': '110',
                'posichion': 'Правый вингер'
            },
            {
                'gamer': 'Лаутаро Мартинез',
                'year': '27',
                'country': 'Аргентина',
                'club': 'Интер',
                'money': '110',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Мартин Одегард',
                'year': '25',
                'country': 'Норвегия',
                'club': 'Арсенал',
                'money': '110',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Эдуардо Камавинга',
                'year': '21',
                'country': 'Франция',
                'club': 'Реал Мадрид',
                'money': '110',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Аурелиен Тхоуамени',
                'year': '24',
                'country': 'Франция',
                'club': 'Реал Мадрид',
                'money': '100',
                'posichion': 'Опорный полузащитник'
            },
            {
                'gamer': 'Хари Кейн',
                'year': '31',
                'country': 'Англия',
                'club': 'Бавария',
                'money': '100',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Гави',
                'year': '20',
                'country': 'Испания',
                'club': 'Барселона',
                'money': '90',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Джулиан Алварез',
                'year': '24',
                'country': 'Аргентина',
                'club': 'Атлетико Мадрид',
                'money': '90',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Кол Палмер',
                'year': '22',
                'country': 'Англия',
                'club': 'Челси',
                'money': '90',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Рафаэль Лиао',
                'year': '25',
                'country': 'Португалия',
                'club': 'Милан',
                'money': '90',
                'posichion': 'Левый вингер'
            },
            {
                'gamer': 'Бруно Гуимарес',
                'year': '26',
                'country': 'Бразилия',
                'club': 'Ньюкасл',
                'money': '85',
                'posichion': 'Опорный полузащитник'
            },
            {
                'gamer': 'Педри',
                'year': '21',
                'country': 'Испания',
                'club': 'Барселона',
                'money': '80',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Хави Симонс',
                'year': '21',
                'country': 'Нидерланды',
                'club': 'Лейпциг',
                'money': '80',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Хвича Кварацхелия',
                'year': '23',
                'country': 'Грузия',
                'club': 'Наполи',
                'money': '80',
                'posichion': 'Левый вингер'
            },
            {
                'gamer': 'Вилиам Салиба',
                'year': '23',
                'country': 'Франция',
                'club': 'Арсенал',
                'money': '80',
                'posichion': 'Центр. защитник'
            },
            {
                'gamer': 'Луис Диаз',
                'year': '27',
                'country': 'Колумбия',
                'club': 'Тотенхем',
                'money': '80',
                'posichion': 'Левый вингер'
            },
            {
                'gamer': 'Рубен Диас',
                'year': '27',
                'country': 'Португалия',
                'club': 'Манчестер Сити',
                'money': '80',
                'posichion': 'Центр. защитник'
            },
            {
                'gamer': 'Николо Барелла',
                'year': '27',
                'country': 'Италия',
                'club': 'Интер',
                'money': '80',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Моисес Каицедо',
                'year': '22',
                'country': 'Эквадор',
                'club': 'Челси',
                'money': '75',
                'posichion': 'Опорный полузащитник'
            },
            {
                'gamer': 'Энзо Фернандес',
                'year': '23',
                'country': 'Аргентина',
                'club': 'Челси',
                'money': '75',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Алексис Мак Аллистер',
                'year': '25',
                'country': 'Аргентина',
                'club': 'Ливерпуль',
                'money': '75',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Жоко Гвардиол',
                'year': '22',
                'country': 'Хорватия',
                'club': 'Манчестер Сити',
                'money': '75',
                'posichion': 'Левый защитник'
            },
            {
                'gamer': 'Доминик Шобослаи',
                'year': '23',
                'country': 'Венгрия',
                'club': 'Ливерпуль',
                'money': '75',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Габриел Магалхаес',
                'year': '26',
                'country': 'Бразилия',
                'club': 'Арсенал',
                'money': '75',
                'posichion': 'Центр. защитник'
            },
            {
                'gamer': 'Виктор Осимхен',
                'year': '25',
                'country': 'Нигерия',
                'club': 'Галатасарай',
                'money': '75',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Александр Исак',
                'year': '25',
                'country': 'Швеция',
                'club': 'Ньюкасл',
                'money': '75',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Кай Хавертс',
                'year': '25',
                'country': 'Германия',
                'club': 'Арсенал',
                'money': '75',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Нико Вильямс',
                'year': '22',
                'country': 'Испания',
                'club': 'Атлетик Бильбао',
                'money': '70',
                'posichion': 'Левый вингер'
            },
            {
                'gamer': 'Роналд Арауджа',
                'year': '25',
                'country': 'Уругвай',
                'club': 'Барселона',
                'money': '70',
                'posichion': 'Центр. защитник'
            },
            {
                'gamer': 'Доуглас Луиз',
                'year': '26',
                'country': 'Бразилия',
                'club': 'Ювентус',
                'money': '70',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Фрэнки де Янг',
                'year': '27',
                'country': 'Нидерланды',
                'club': 'Барселона',
                'money': '70',
                'posichion': 'Центр. полузащитник'
            },
            {
                'gamer': 'Виктор Гекорес',
                'year': '26',
                'country': 'Швеция',
                'club': 'Спортинг Лиссабон',
                'money': '70',
                'posichion': 'Центральный нап.'
            },
            {
                'gamer': 'Алессандро Бастони',
                'year': '25',
                'country': 'Италия',
                'club': 'Интер',
                'money': '70',
                'posichion': 'Центр. защитник'
            },
            {
                'gamer': 'Трент Александр-Арнолд',
                'year': '26',
                'country': 'Англия',
                'club': 'Ливерпуль',
                'money': '70',
                'posichion': 'Правый защитник'
            },
            {
                'gamer': 'Джеймс Мэдисон',
                'year': '27',
                'country': 'Англия',
                'club': 'Тотенхем',
                'money': '70',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Бернандо Силва',
                'year': '30',
                'country': 'Португалия',
                'club': 'Манчестер Сити',
                'money': '70',
                'posichion': 'Атак. полузащитник'
            },
            {
                'gamer': 'Лерой Сане',
                'year': '28',
                'country': 'Германия',
                'club': 'Бавария',
                'money': '70',
                'posichion': 'Правый вингер'
            },
            {
                'gamer': 'Брадлей Баркола',
                'year': '22',
                'country': 'Франция',
                'club': 'ПСЖ',
                'money': '65',
                'posichion': 'Левый вингер'
            }
         ]