mixin createMenu(menu, active) 
  each value, key in menu 
    if active == value
      a.active(href= value)= key
    else
      a(href= value)= key

mixin createMenuBuild(menu, activeKey)
  each value, key in menu
    a(href= value)= key
    if 'index.html' == value
        a.active(href= value)= activeKey
    

      
        