extends template

block nav
    nav
      +createMenu(dictMenu, 'index.html')
    
block content
    div.images
      each pict in listImages
       a(href= "building.html")
        img(src= require("./images/" + pict))
        
    article
      each item in listSections
        section
          +createMenu_section(item)
       
